<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
    <!--<link rel="stylesheet" href="/public/styles.css">-->
    <title>Document</title>
</head>
<body>
  <%if(flash.length>0){%>    
    <div class="alert alert-danger" role="alert">
      <%=flash%>
    </div>
  <%}%>
    <div class="container">
        <form action="/register" method="post">
            <div class="mb-3">
              <label for="Rusername" class="form-label">Username</label>
              <input type="text" class="form-control" id="Rusername" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="RinputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="RinputPassword" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Resgiter</button>
          </form>
    </div>
    <br>
    <div class="container">
      <form action="/login" method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
  </div>

    
</body>
</html>